<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="628a5c82-9bdd-4cc6-981e-f28ed5d85f2e" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="628a5c82-9bdd-4cc6-981e-f28ed5d85f2efileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
